#
# Disable debug options
#
CONFIG_SLUB_DEBUG=n
CONFIG_PM_DEBUG=n
CONFIG_PM_ADVANCED_DEBUG=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_AIC7XXX_DEBUG_ENABLE=n
CONFIG_AIC79XX_DEBUG_ENABLE=n
CONFIG_MLX4_DEBUG=n
CONFIG_INFINIBAND_MTHCA_DEBUG=n
CONFIG_INFINIBAND_IPOIB_DEBUG=n
CONFIG_OCFS2_DEBUG_MASKLOG=n
CONFIG_CIFS_DEBUG=n
CONFIG_DLM_DEBUG=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SCHED_DEBUG=n
CONFIG_DEBUG_LIST=n
CONFIG_X86_DEBUG_FPU=n
