#
# General setup
#
CONFIG_LOCALVERSION="+truenas"
CONFIG_TRUENAS=y
# end of General setup

#
# Processor type and features
#
CONFIG_ARCH_FORCE_MAX_ORDER=14
# end of Processor type and features

# CONFIG_MODULE_SIG_ALL is not set

#
# Memory Management options
#
CONFIG_CMA=y
# CONFIG_CMA_DEBUG is not set
# CONFIG_CMA_DEBUGFS is not set
CONFIG_CMA_AREAS=19
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CMA_ALIGNMENT=12
# end of Memory Management options

#
# Device Drivers
#

#
# Generic fallback / legacy drivers
#
CONFIG_NTB_NETDEV=m

#
# SCSI device support
#
# CONFIG_SCSI_CHELSIO_FCOE is not set
# end of SCSI device support

# CONFIG_CHELSIO_T4_FCOE is not set

CONFIG_NTB=m
CONFIG_NTB_AMD=m
CONFIG_NTB_MSI=y
CONFIG_NTB_INTEL=m
CONFIG_NTB_PLX=m
CONFIG_NTB_PINGPONG=m
CONFIG_NTB_TOOL=m
CONFIG_NTB_PERF=m
CONFIG_NTB_MSI_TEST=m
CONFIG_NTB_SPLIT=m
CONFIG_NTB_TRANSPORT=m
# end of Device Drivers

#
# Certificates for signature checking
#
CONFIG_MODULE_SIG_KEY=""
CONFIG_SYSTEM_TRUSTED_KEYS="debian/certs/debian-uefi-certs.pem"
# end of Certificates for signature checking

#
# Library routines
#
CONFIG_DMA_CMA=y
# end of Library routines

#
# Override SATA Link Power Management Policy for "mobile" chipsets from Debian.
# ATA_LPM_UNKNOWN is the default for non-mobile chipsets, aka "max_performance".
#
CONFIG_SATA_MOBILE_LPM_POLICY=0

#
# Disable init_on_alloc to improve ZFS performance. ZFS allocates and frees
# pages frequently, and init_on_alloc zeroes out the pages during allocation.
# Disabling init_on_alloc should improve ZFS performance.
#
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=n

#
# Allow userspace (root) access to all IO memory. /dev/mem allows
# userspace access to memory ranges that may or may not be actively
# used by a driver. Required for plx_eeprom utility.
#
CONFIG_IO_STRICT_DEVMEM=n

#
# Disable Bluetooth
#
CONFIG_BT=n

#
# Disable NFC
#
CONFIG_NFC=n

#
# Disable CAN
#
CONFIG_CAN=n

#
# Disable WiFi and Wireless
#
CONFIG_WLAN=n
CONFIG_WIRELESS=n

#
# Disable Joystick
#
CONFIG_INPUT_JOYSTICK=n

#
# Disable Sony MemoryStick
#
CONFIG_MEMSTICK=n

#
# Disable SoundWire
#
CONFIG_SOUNDWIRE=n
